<input type="text" class="search-input" placeholder="Search band" name="searchBox" [(ngModel)]="searchBox">

<div class="band-list" *ngFor="let band of bands | filter: searchBox">
  <a class="card" routerLink="/details/{{band.id}}">
    <div class="card-body">
      <div class="card-content">
        <figure class="band-img">
          <img src={{band.imgURL}} alt="photo">
        </figure>
        <div class="band-text">
          <p>
            {{band.name| uppercase}}
          </p>
          <small>{{band.foundation}}</small>
        </div>
      </div>
    </div>
  </a>
</div>

<div class="create-button">
  <button class="btn btn-dark" routerLink="/newband">Create band</button>
</div>
