.card {
  margin-top: 10px;
  color: black;
  border: 1px solid grey
}

.card-body {
  align-content: center;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}

.card-content {
  display: flex;
  align-items: center;
}

.card-body p {
  margin: 0;
  padding: 0;
}

.band-img {
  width: 50px;
  margin: 10px;
  background-size: cover;
}

.band-text small {
  color: grey;
}

.card-body img {
  width: 100%;

}

.create-button {
  margin: 10px 0;
}

.search-input {
  width: 100%;
}
